<!doctype HTML>
<html >
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/f/styles/style.css">
        <script src="/f/node_modules/angular/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/f/scripts/client.js"></script>
        <meta charset="utf8">
        <title>Jonokone</title>
    </head>
    <body ng-app="ioc" >
        <div ng-controller="ioctrl" id="container_main">
            <div id="title">Jonokone</div>
            <div id="subtitle">@ jonokone.dy.fi</div>
            <br>
            <table id="addform" class="centered-table">
                <tr>
                    <td class="form-name">Rivi: </td>
                    <td class="form-input">
                        <select ng-model="row">
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="form-name">Nimi: </td>
                    <td class="form-input">
                        <input type="text" ng-model="name"></input>
                    </td>
                </tr>
            </table>

            <a href="#" class="addButton" ng-click="submit();">Lisää</a>

            <div ng-if='error_message != ""' id="add-error">
                {{error_message}}
            </div>

            <div ng-repeat="person in que">
                <div ng-if="person.uid == uid" ng-click="querm(person.qid);">
                    <a href="#" class="removeButton">Poista {{person.name}}</a>
                </div>
            </div>

            <table id="que" class="centered-table" ng-if="que.length > 0">
                <tr>
                    <th>Rivi</th>
                    <th>Nimi</th>
                </tr>
                <tr ng-repeat="person in que">
                    <td >Rivi {{person.row}}</td>
                    <td >{{person.name}}</td>
                </tr>
            </table>
            
        </div>

        <!-- Github ribbon -->
        <a href="https://github.com/jantuomi/Jonokone"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    </body>
</html>