<!doctype HTML>
<html >
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/f/styles/style.css">
        <script src="/f/node_modules/angular/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/f/scripts/client.js"></script>
        <meta charset="utf8">
        <title>Jonokone</title>
    </head>
    <body ng-app="ioc" >
        <div ng-controller="ioctrl" id="container_main">
            <div id="title">Jonokone</div>
            <div id="subtitle">@ jonokone.dy.fi</div>
            <br>

            <table id="que" class="centered-table" ng-if="que.length > 0">
                <tr>
                    <th>Rivi</th>
                    <th>Nimi</th>
                </tr>
                <tr ng-repeat="person in que">
                    <td >Rivi {{person.row}}</td>
                    <td >{{person.name}}</td>
                </tr>
            </table>
            
        </div>
    </body>
</html>